.navbar-brand {

    color: yellow;

}

.nav-link:hover {

    background-color: rgb(211, 208, 16);

}

.display-4 {

    font-weight: bold;

}

.card-body-icon {

    position: absolute;
    z-index: 0;
    top: 25px;
    right: 4px;
    opacity: 0.4;
    font-size: 90px;

}


#instagram {

    background: linear-gradient(to right, darkmagenta,red);

}

#facebook {

    background-color: rgba(0, 0, 255, 0.801);

}

#twitter {

    background-color: rgb(0, 183, 255);

}


.row .card:hover {

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.02);


}


#hatwizard {

    color: yellow;
    margin-left: 70px;
    margin-bottom: 50px;
    font-size: 80px;
    box-sizing: border-box;
    transition: 6s;

}


#hatwizard:hover {

    box-shadow: 5px 5px 5px rgba(208, 223, 9, 0.904);
    transform: scale(2.02);
    display: inline-block;
	filter: saturate(0%);
	transition: 2s;

}


.copyright {

    border: 10px;
    color: yellow;


}


